@import "../../common/colors.scss";
.footer{
    background: $secondry-color;
    justify-content: center;
    display: flex;
    height: 72px;
    align-items: center;
    color: $font-primary;
    flex-direction: column;

}